/* *************************
V A R I A B L E S
************************* */
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&family=Roboto:wght@300;500&display=swap');
:root{
    --background_color: #211b4f;
    --buttons_color: #e8575d;
}

body{
    background-color: var(--background_color);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

header{
    /* alinear header */
  margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

header .name{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    
}

header .options ul{
    display: flex;
    align-items: center;
}

header .options ul li{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    list-style: none;
    margin-left: 2.7rem;
}

header .icons{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 18px;
}

header .icons span:hover{
    cursor: pointer;
}


/* **************************
S E C T I O N S
**************************  */

section{
    display: grid;
    width: 90%;
    max-width: 91%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    grid-template-columns: 49% 49%;
}

section .one{
    display: block;
}

section .one h1{
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

section .one p{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

section .one  .btn{
    background-color: var(--buttons_color);
    border: none;
    color: #fff;
    margin-top: 30px;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    transition: all .3s ease;
}